 body {
        background-color: lightblue;
    }
    h1 {
        color: navy;
        margin-left: 20px;
    }
    p {
        font-family: verdana;
        font-size: 20px;
    }
    
    button {
        background-color: navy;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        display: inline-block;
    }
    .button:hover {
        background-color: darkblue;
    }
    .header {
        background-color: #f2f2f2;
        padding: 10px 0;
    }
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        text-align: center;
        
        
    } 
    .card {
        background: white;
        padding: 20px;
        flex: 1;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    nav ul li {
        display: inline;
        margin: 0 15px;
        padding: 120px;
        background: cadetblue;
        border-radius: 8px;
        cursor: pointer;
    }